<?xml version='1.0' encoding='utf-8'?>
<widget id="com.escrow.farm" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>ESCROW</name>
	<description>
		Bringing Farmers and Consumers Together
	</description>

	<author email="dev@escrow.com" href="https://phonegap.com">
	   Escrow Team
	</author>
    
</widget>